@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1 class="mb-4">@Model.Walker.Name</h1>

    <section class="container">
        <img style="width:100px;float:left;margin-right:20px" class="bg-info" src="@Model.Walker.ImageUrl" alt="avatar" />
        <div>
            <label class="font-weight-bold">Neighborhood:</label>
            <span>@Model.Walker.Neighborhood.Name</span>
        </div>
    </section>

    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-8 container mt-5">
            <h1 class="text-left">Recent Walks</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Client
                        </th>
                        <th>
                            Duration
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Walks)
                    {
                        <tr>
                            <td>
                                @item.Date.ToString("MM/dd/yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dog.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        <section class="col-lg-4 col-md-8 container mt-5">
            <h1>Total Walk Time: @Model.WalkTime</h1>
        </section>
    </div>
</div>